apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: keycloak
  namespace: keycloak
spec:
  chart:
    spec:
      version: "10.1.5"
  values:
    extraEnvVars:
      - name: KEYCLOAK_LOG_LEVEL
        value: DEBUG
    resources:
      requests:
        cpu: 1000m
        memory: 1024Mi


